body {
	margin: 0;
	padding: 0;
	background: #f1f1f1;
	font-family: sans-serif;
}

.side {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
}

.side a {
	background: #e74c3c;
	color: white;
	font-size: 22px;
	display: block;
	width: 130px;
	padding: 12px;
	text-decoration: none;
	margin: 8px 0;
	color: white;
	border-radius: 8px;
	margin-left: -100px;
	transition: 0.6s all;
}


.side a:hover {
	margin-left: 0;
}


